nav {
  background-color: #fff;
  // position: fixed;
  // top: 0px;
  // width: 100%;
  // z-index: 10000;
  // transition: all .5s;
  border-bottom: 1px solid #eee;
  
  .nav-content{
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  ul{
    display: block;
    text-align: center;
  }

  li{
    display: inline-block;
    color: $font-blue;
    margin-right: 10px;
    letter-spacing: .02em;
  }

  li {
    a:hover {
      color: $font-light;
    }
  }
}