nav {
  background-color: #fff;
  // position: fixed;
  // top: 0px;
  // width: 100%;
  // z-index: 10000;
  // transition: all .5s;
  border-bottom: 1px solid #eee;
  .content{
    display: flex;
    justify-content: space-between;
  }
}