.section{
  .content {
    h1 {
      text-align: center;
      margin-top: 16px;
    }
    .img_container {
      position: relative;
      // background-color: red;
      height: 550px;
      max-width: 1100px;
      margin: 0 auto;
      img{
        border-radius: 2px;
        margin: 32px;
      }
      .home {
        position: absolute;
        height: 85%;
        width: auto;
      }
      .lit {
        position: absolute;
        height: 55%;
        width: auto;
        bottom: 0px;
        right: 0px;
      }
    }
  }
}