.tarifs_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.tarif_group{
  margin: 0 16px;
  padding: 16px;
  width: 250px;
  
  h2 {
    font-size: 20px;
    color: $font-dark;
    font-weight: 400;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 16px;
    color: $font-dark;
    display: inline;
    border-bottom: 1px solid $font-light;
  }

  .soin{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    .price {
      flex-shrink: 0;
      margin-left: 16px;
    }
  }

  p {
    font-size: 14px;
  }
  .detail {
    font-style: italic;
    font-size: 12px;
  }

  ul {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

/* Iphone and Small devices */
@media (max-width: 768px) {
  .tarifs_container {
    grid-template-columns: 1fr;
  }
  .tarif_group {
    margin: 0 auto;
  }
}


/* Smallest device - Bigger Phone */
@media (min-width: 769px) and (max-width: 1599px) {
  .tarifs_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}