@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

body {
  font-family: "Montserrat", serif;
  background-color: #fff;
  color: $font-dark;
  font-weight: 300;
  letter-spacing: .02em;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  color: $font-dark;
  font-weight: 300;
  letter-spacing: .02em;
}