body {
  font-family: "Monserrat", serif;
  background-color: #fff;
  color: $font-dark;
  font-weight: 300;
  letter-spacing: .02em;
}

h1, h2, h3, h4 {
  font-family: "Monserrat", sans-serif;
  color: $font-dark;
  font-weight: 300;
  letter-spacing: .02em;
}