// copy from benjamin_code params not sur about all point that follow

body {
  font-family: 'eesti';
  font-size: 16px;
  background: #FDFDFD;
  font-family: 'Fanwood Text', serif;
}

h1, h2, h3, h4 {
  font-family: 'Tenor Sans', sans-serif;
}